<div class="container-fluid view1">
  <div class="container-fluid">
    <div class="row">
      <h1 class="col-md-6 col-lg-6 col-s-12" style="color: darkblue">
        <img src="../../assets/img/logo.png" id="logo" > HIMY
      </h1>
      <!--<ul class="col-md-6 col-lg-6 col-s-12 nav1">

        <li><button class="btn btn-primary" id="connecter" routerLink="/login"><i class="fas fa-rocket"></i>Se Connecter</button><button class="btn btn-primary" id="inscrire" routerLink="/registera"><i class="fas fa-address-book" ></i>S'inscrire</button></li>

      </ul>-->

    </div>
  </div>

  <div class="bodyView container">
<!--    <h1 class="text-center" id="titre">Découvrez le Maroc à travers des voyages spéciaux</h1>-->
    <div class="row" id="home">
      <div class="col-lg-6 col-md-6 " id="imgHome">

      </div>
      <div class="col-lg-6 col-md-6 colonne2">
        <div class="card bg-light ">

          <article class="card-body mx-auto " style="width: 400px;">
            <img src="../../assets/img/logo.png" id="logo" style="margin-left: 130px" >

            <h4 class="card-title mt-3 text-center">Creer Compte</h4>
            <!--      <p class="text-center">Get started with your free account</p>-->
            <p>
              <a href="" class="btn btn-block btn-twitter" > <i class="fab fa-linkedin"></i>   Login via Linkedin</a>
              <a href="" class="btn btn-block  btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
              <a href="" class="btn btn-block btn-danger"> <i class="fab fa-google"></i>   Login via Google</a>


            </p>
            <p class="divider-text">
              <span class="bg-light">OR</span>
            </p>
            <form #f="ngForm" name="form"  >
              <div class="form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control"  placeholder="full name"
                       formControlName="username"  />
                <div class="invalid-feedback">
                  <div><h6>full name  required</h6></div>
                </div>
              </div> <!-- form-group// -->
              <div class="form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input type="email" class="form-control  "   placeholder="E-mail"
                       formControlName="mail"  />

                <div class="invalid-feedback">
                  <div><h6>E-mail is required</h6></div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>

                <input type="password" class="form-control"  placeholder="abc21"
                       formControlName="password"  />
                <div class="invalid-feedback">
                  <div><h6> required</h6></div>
                </div>
              </div> <!-- form-group// -->
              <div class="form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>

                <input type="password" class="form-control"  placeholder="abc21"
                       formControlName="repassword"  />
                <div class="invalid-feedback">
                  <div><h6> required</h6></div>
                </div>
              </div> <!-- form-group// -->
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" > Creer Compte  </button>
              </div> <!-- form-group// -->
              <p class="text-center">Avez-vous un compte? <a routerLink="/login">Log In</a> </p>
            </form>
          </article>

        </div> <!-- card.// -->

      </div>
      </div>

    </div>


  </div>








